.additional-form__container {
  min-width: 320px;
  //box-sizing: border-box;
  margin: 0 auto;
}

.additional-form__title {
  margin: 0 0 33px;
  //width: 45vw;
}

.additional-form__list {
  margin: 0 auto;
  max-width: 550px;
}

@media (min-width: $tablet-width) {
  .additional-form__title {
    margin: 0 0 59px;
    //width: 45vw;
  }

  .additional-form__list {
    max-width: $tablet-max-width;
  }
}

@media (min-width: $desktop-width) {
  .additional-form__title {
    margin: 0 0 62px;
  }

  .additional-form__list {
    max-width: 1220px;
  }
}
