.additional-products {
  background: linear-gradient(rgb(104, 183, 56), rgb(104, 183, 56));
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: left 20px top 39px;
}

.additional-products__title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 23px $mobile-space 36px;
  background-color: #ffffff;
  width: 75vw;
}

.additional-products__list {
  margin: 0 $mobile-space;
  padding-left: 0;
}

.additional-products__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid #cdcdcd;

  &:first-of-type {
    border-top: 1px solid #cdcdcd;
  }
}
