.additional-products__list {
  padding: 0 $mobile-space;
  margin: 0 auto;
  max-width: $mobile-max-width;
}

.additional-products__item {
  border-bottom: 1px solid #cdcdcd;
  list-style: none;

  &:first-of-type {
    border-top: 1px solid #cdcdcd;
  }
}

@media (min-width: $tablet-width) {
  .additional-products__list {
    padding: 0 $tablet-space;
    margin: 0 auto;
    max-width: $tablet-max-width;
    box-sizing: border-box;
  }

  .additional-products__item {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    //text-align: center;
  }

  .additional-products__list {
    //display: inline-block;
    padding: 0;
    width: 895px;
    margin: 0 auto 0 auto;
    max-width: none;
    box-sizing: content-box;
  }

  .additional-products__item {
    border-left: none;
    border-right: none;
    margin: 0;
    text-align: left;
    width: 895px;
  }
}
