.additional-form {
  background-image: linear-gradient(rgb(104, 183, 56), rgb(104, 183, 56));
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: left 18px;
}

.additional-form__container {
  max-width: 550px;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}

.additional-form__title {
  margin: 0 0 34px;
  width: 45vw;
  padding-left: 20px;
  padding-right: 19px;
  background-color: #ffffff;
}

.additional-form__list {
  margin-left: 20px;
}
