.button {
  display: table;
  font-family: "oswald-400", "Arial", sans-serif;
  text-decoration: none;
  background-color: rgb(104, 183, 56);
  text-align: center;
}

.button__text {
  display: table-cell;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  padding: 11px 11px;

}
