.button {
  display: table;
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  text-decoration: none;
  background-color: #68b738;
  text-align: center;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
    outline: none;
  }

  &:active {
    background-color: #5eaa2f;
  }
}

.button__text {
  display: table-cell;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  padding: 11px;

  &:active {
    opacity: 0.3;
  }
}

.button--goto {
  color: #000000;
}

.button--submit {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 11px;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--order {
  & .button__text {
    font-size: 16px;
  }
}

.button--fade {
  background-color: #f2f2f2;

  & .button__text {
    color: #444444;
    font-size: 16px;
  }

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    & .button__text {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--order {
      .button__text {
        padding: 10px;
      }
    }

    &--fade {
      .button__text {
        padding: 10px;
      }
    }
  }

  .button__text {
    font-size: 20px;
    line-height: 20px;
    padding: 17px;
  }

  .button--submit {
    font-size: 20px;
    padding: 17px;
  }
}
