.cat-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cat-list__item:not(:last-of-type) {
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .cat-list__item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
