.check-form {
  position: relative;
  min-height: 30px;
}

.check-form__name {
  padding-left: 46px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;

  &:hover {
    &::before {
      border-color: #bababa;
    }
  }
}

.check-form__name::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
}

.check-form__name::after {
  content: "";
  background-image: url("../../img/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.check-form__box:checked + .check-form__name::after {
  display: block;
}

.check-form__box:disabled + .check-form__name {
  opacity: 0.3;
  cursor: default;
}

.check-form__box:disabled + .check-form__name::before {
  border-color: #cdcdcd;
}

.check-form__box:focus + .check-form__name::before {
  border-color: #bababa;
}

@media (min-width: $tablet-width) {
  .check-form {
    min-height: 40px;
  }

  .check-form__name {
    font-size: 20px;
      padding-left: 59px;
  }

  .check-form__name::before {
    width: 40px;
    height: 40px;
    top: -5px;
  }

  .check-form__name::after {
    width: 40px;
    height: 40px;
    background-size: 24px 19px;
    top: -5px;
  }
}
