.comment-form__title {
  margin: 0;
}

.comment-form__title-text {
  margin: 0;
}

.comment-form__text-wrapper {
  margin: 38px auto 0;
  max-width: 550px;
  //min-width: 320px;
  //box-sizing: border-box;
  padding: 0 20px 0 20px;
  height: 150px;
}

.comment-form__text {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .comment-form__title {
    margin: 0 0 77px;
  }

  .comment-form__text-wrapper {
    margin: 50px auto 0;
    padding: 0 calc($tablet-space + 40px) 0 calc($tablet-space + 40px);
    max-width: $tablet-max-width;
  }

  .comment-form__text {
    height: 174px;
  }
}

@media (min-width: $desktop-width) {
  .comment-form__text-wrapper {
    max-width: 1220px;
  }
}
