.example {
  background-color: #eaeaea;
}

.example__wrapper {
  overflow: hidden;
}

.example__header {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 42px;
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

.example__parameters-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.example__parameters-item {
  flex-grow: 0;
  margin-right: 32px;
  width: 124px;
}

.example__parameters-item:last-of-type {
  margin-right: 0;
}

.example-parameter__cost {
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
