.example-parameter {
  text-align: center;
}

.example-parameter__value {
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-size: 24px;
  padding-top: 7px;
  padding-bottom: 11px;
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
  color: #000000;
  text-transform: uppercase;
  width: 124px;
}

.example-parameter__name {
  display: block;
  margin-top: -9px;
  margin-left: 18px;
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 12px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: "Arial", sans-serif;
  color: #444444;
  background-color: #eaeaea;
  max-width: 87px;
}
