.example {
  background-color: #eaeaea;
  min-width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  padding-bottom: 40px;
}

.example__wrapper {
  margin: 0 auto;
  overflow: auto;
  max-width: 550px;
}

.example__header {
  margin-top: 28px;
  margin-bottom: 42px;
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
}

.example__parameters-list {
  padding-left: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.example__parameters-item {
  flex-grow: 1;
  margin-right: 32px;
}

.example__parameters-item:last-of-type {
  margin-right: 0;
}

.example-parameter__cost {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "oswald-400", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
