.input-form {
  display: flex;
  align-items: center;
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  line-height: 17px;
  font-size: 16px;
  position: relative;

  &--number {
    .input-form__name {
      margin-right: 16px;
    }
  }
}

.input-form__name {
  flex-grow: 0;
  margin-right: 13px;
}

.input-form__field {
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  font-size: 16px;
  line-height: 45px;
  display: inline-block;
  height: 45px;
  flex-grow: 1;
  padding: 0 0 0 15px;
  border-radius: 0;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;

  &::placeholder {
    color: #444444;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
    outline: none;
  }

  &:invalid {
    border-color: #ff8282;
  }

  /*&[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }*/

  /* &[type="number"],
    &[type="number"]:hover,
    &[type="number"]:focus {
      appearance: none;
      -moz-appearance: textfield;
  }*/
}

.input-form--with-email {
  & .input-form__email-svg {
    position: absolute;
    right: 16px;//18
    stroke: #222222;
  }
  /*&::after {
    content: "";
    background: url("../img/sprite.svg#icon_email");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 36px;
    display: block;
    background-color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    right: 6px;
  }*/

  & .input-form__name {
    margin-right: 12px;
  }

  & .input-form__field {
    padding: 0 50px 0 13px;
  }

  & .input-form__field:focus + .input-form__email-svg {
    stroke: #68b738;
  }

  & .input-form__field:invalid + .input-form__email-svg {
    stroke: #ff8282;
  }
}

.input-form--with-phone {
  & .input-form__phone-svg {
    position: absolute;
    right: 13px;//18
  }
  /*&::after {
    content: "";
    background: url("../img/sprite.svg#icon_phone");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 36px;
    display: block;
    background-color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    right: 3px;
  }*/

  & .input-form__name {
    margin-right: 10px;
  }

  & .input-form__field {
    padding: 0 50px 0 15px;
  }

  & .input-form__field:focus + .input-form__phone-svg {
    fill: #68b738;
  }

  & .input-form__field:invalid + .input-form__phone-svg {
    fill: #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .input-form {
    font-size: 20px;
    line-height: 30px;

    &--number {
      .input-form__name {
        margin-right: 19px;
      }
    }
  }

  .input-form__name {

    margin-right: 17px;
  }

  .input-form__field {
    height: 52px;
    font-size: 20px;
    padding: 0 0 0 18px;
  }

  .input-form--with-email {
    & .input-form__name {
      margin-right: 20px;
    }

    & .input-form__field {
      padding: 0 50px 0 21px;
    }

    & .input-form__email-svg {
      right: 18px;
    }
  }

  .input-form--with-phone {
    & .input-form__name {
      margin-right: 14px;
    }

    & .input-form__field {
      padding: 0 50px 0 20px;
    }

    & .input-form__phone-svg {
      right: 18px;
    }
  }
}
