.location__contact {
  padding: 26px $mobile-space;
  display: flex;
  justify-content: space-between;
}

.location__contact-offer {
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  flex-grow: 0;
  flex-basis: 139px;
  font-size: 16px;
  line-height: 20px;
}

.location__contact-address {
  font-family: "Arial", sans-serif;
  flex-grow: 0;
  flex-basis: 139px;
  font-size: 14px;
  line-height: 20px;
}

.location__map {
  height: 362px;
  min-width: 320px;
}

.location__map-frame {
  height: 362px;
  width: 100%;
}

.location--dark-bg {
  .location__contact {
    background-color: #f2f2f2;
  }
}
