.main-content__promo {
  margin: 0 0 20px;
}

.main-content__advantages {
  margin: 0 auto 22px;
  max-width: $mobile-max-width;
}

.main-content__instruction {
  margin: 0 auto 49px;
  max-width: $mobile-max-width;
}

.main-content__example {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-content__promo {
    margin: 62px auto 0;
  }

  .main-content__advantages {
    margin: 0 auto 45px;
    max-width: $tablet-max-width;
  }

  .main-content__instruction {
    margin: 0 0 41px;
    max-width: none;
  }

  .main-content__example {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-content {
    position: relative;
    z-index: 5;
  }

  .main-content__promo {
    margin: 0 0 82px;
    padding: 0;
  }

  .main-content__advantages {
    margin: 0 auto 71px;
    padding: 0;
    width: 1220px;
    max-width: none;
  }

  .main-content__instruction {
    border: none;
    margin: 0 auto 26px;
    padding: 0;
    width: 1220px;
  }

  .main-content__example {
    margin: 0;
    padding: 0 0 65px;
  }
}
