.main-header__container {
  text-align: center;
  position: relative;
}

.main-header__logo-container {
  max-width: $mobile-max-width;
  margin: 0 auto;
  position: relative;
}

.main-header__logo-image {
  position: absolute;
  left: 20px;
  top: 10px;
}

.main-header__logo-name {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .main-header__container {
    display: flex;
    justify-content: space-between;
    max-width: $tablet-max-width;
    margin: 0 auto;
    padding: 0 $tablet-space;
  }

  .main-header__logo-container {
    max-width: none;
    overflow: hidden;
    margin: 0;
  }

  .main-header__logo-image {
    position: relative;
    top: 25px;
    left: 0;
    //margin-top: 24px;
    //margin-right: 93px;
    margin: 0;
  }

  .main-header__logo-name {
    display: none;
  }

  .main-header__main-navigation {
    margin-top: 42px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    background: linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%);
    position: relative;
    z-index: 10;
  }

  .main-header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1220px;
    text-align: left;
    padding: 0 $desktop-space;
    //box-sizing: border-box;
  }

  .main-header__logo-image {
    //top: 53px;
    display: block;
    position: static;
    margin: 53px 0 0;
  }

  .main-header__main-navigation {
    margin: 0;
    padding-top: 69px;
    padding-left: 130px;
  }

  .main-header--one-color {
    background: #ffffff;

    & .main-header__logo-image {
      //top: 47px;
    }

    & .main-header__main-navigation {
      //padding-top: 61px;
    }
  }
}
