.main-form__cat {
  margin: 0 auto 23px;
}

.main-form__owner {
  margin-bottom: 20px;
}

.main-form__comment {
  margin-bottom: 20px;
}

.main-form__additional {
  margin-bottom: 35px;
}

.main-form__submit {
  margin: 0 auto 32px;
}
