.main-catalog {
  //max-width: $mobile-max-width;
  margin: 0 auto;
}

.main-catalog__desktop-title {
  padding: 0;
  margin: 25px 0 32px;
}

.main-catalog__offer {
  padding: 34px $mobile-space 35px;
  margin: 0 auto;
  max-width: $mobile-max-width;
}

@media (min-width: $tablet-width) {
  .main-catalog {
    //max-width: $tablet-max-width;
    max-width: none;
  }

  .main-catalog__catalog {
    padding: 0 $tablet-space 45px;
    margin: 0 auto;
    max-width: $tablet-max-width;
  }

  .main-catalog__desktop-title {
    padding: 0 30px;
    margin: 25px 0 80px;
    width: 100%;
    top: 0;
    left: 0;
  }

  .main-catalog__add-prod {
    margin: 0 0 69px;
  }

  .main-catalog__offer {
    padding: 0;
    margin: 0 auto 76px;
    max-width: $tablet-max-width;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog {
    max-width: none;
  }

  .main-catalog__catalog {
    margin: 0 auto 77px;
    padding: 0;
    max-width: none;
  }

  .main-catalog__desktop-container {
    display: flex;
    align-items: flex-start;
    width: 1220px;
    justify-content: space-between;
    margin: 0 auto 85px;
  }

  .main-catalog__desktop-title {
    margin: 0 0 81px;
    padding: 0;
  }

  .main-catalog__add-prod {
    margin: 0;
  }

  .main-catalog__offer {
    margin: 0;
    //padding: 0;
    //height: 17px;
    max-width: none;
    //width: 1220px;
  }

  .main-catalog__offer-add-container {
    display: flex;
    justify-content: space-between;
  }
}
