.main-footer__information-wrapper {
  background-color: #f2f2f2;
}

.main-footer__information {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-footer__logo-name {
  margin-top: 39px;
  margin-bottom: 27px;
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
  list-style-type: none;
  margin: 0;
  padding: 4px 3px 0 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__social-item:active {
  opacity: 0.3;
}

.main-footer__social-item:last-of-type {
  margin-left: 30px;
}

.main-footer__social-item:first-of-type {
  margin-right: 26px;
}

.main-footer__social-svg {
  fill: #666666;
}

.main-footer__social-link:hover .main-footer__social-svg {
  fill: #68b738;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

.main-footer__copyright-link {
  text-decoration: none;
}

.main-footer__copyright-name {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  padding: 0 0 4px;

  &:active {
    opacity: 0.3;
  }
}

.main-footer__copyright-svg {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__information {
    max-width: $tablet-max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px $tablet-space 56px;
  }

  .main-footer__logo-name {
    padding: 0;
    margin: 0;
    height: 24px;
  }

  .main-footer__social-list {
    border: none;
    height: auto;
    padding: 0;
    margin: 0 0 0 25px;
  }

  .main-footer__copyright {
    height: auto;
    cursor: pointer;

    &:hover .main-footer__copyright-svg {
      fill: #68b738;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-footer__copyright-name {
    display: inline-block;
    margin: 0 23px 5px 0;
    padding: 0;
    line-height: 18px;

    &:active {
      opacity: 1;
    }
  }

  .main-footer__copyright-svg {
    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer__information {
    padding: 58px $desktop-space 68px $desktop-space;
    max-width: 1220px;
  }

  .main-footer__social-list {
    margin: 0 0 0 25px;
  }

  .main-footer__copyright-name {
    margin: 0 23px 0 0;
  }
}
