.owner-form__container {
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}

.owner-form__title {
  margin: 0 0 33px;
}

.owner-form__title-text {
  margin: 0;
}

.owner-form__list {
  padding: 0 20px 0 20px;
  max-width: 550px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .owner-form__title {
    margin: 0 0 74px;
  }

  .owner-form__list {
    padding: 0 calc($tablet-space + 35px) 0 calc($tablet-space + 40px);
    max-width: $tablet-max-width;
  }
}

@media (min-width: $desktop-width) {
  .owner-form__title {
    margin: 0 0 76px;
  }

  .owner-form__list {
    padding: 0;
    max-width: none;
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}
