@font-face {
  font-family: "oswald-400";
  src:
    url("../../fonts/oswaldregular.woff") format("woff"),
    url("../../fonts/oswaldregular.woff2") format("woff2");
}

@font-face {
  font-family: "oswald-500";
  src:
    url("../../fonts/oswaldmedium.woff") format("woff"),
    url("../../fonts/oswaldmedium.woff2") format("woff2");
}

.page {
  font-size: 14px;
}
