.product-card {
  display: grid;
  grid-template-areas: "image  name"
    "image parameters"
    "btn btn";
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 0;
  padding: 19px $mobile-space 25px;
}

.product-card__image-wrapper {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 3px;
}

.product-card__name {
  grid-area: name;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  width: 60%;
}

.product-card__parameters-list {
  grid-area: parameters;
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-bottom: 6px;
}

.product-card__parameters-item {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.product-card__order {
  grid-area: btn;
}

.product-card--no-pic {
  grid-template-areas: "name"
    "parameters"
    "btn";
  grid-template-columns: auto;
  row-gap: 11px;
  padding: 13px 0 18px;

  & .product-card__name {
    font-size: 16px;
    line-height: 16px;
    width: 100%;
  }

  & .product-card__parameters-item {
    font-size: 14px;
    line-height: 14px;
  }

  & .product-card__order {
    margin-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #f2f2f2;
    text-align: center;
    padding: 161px 38px 0;
    gap: 0;
    position: relative;
    overflow: visible;
  }

  .product-card__image-wrapper {
    align-self: center;
    position: absolute;
    top: -127px;
    bottom: calc(100% - 134px);
  }

  .product-card__name {
    font-size: 20px;
    line-height: 24px;
    width: 55%;
    margin: 0 auto 21px;
  }

  .product-card__parameters-item {
    font-size: 16px;
    line-height: 16px;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__parameters-item:not(:first-of-type) {
    padding-top: 7px;
  }

  .product-card__parameters-list {
    margin: 0 0 33px;
  }

  .product-card__order {
    width: 100%;
    margin: 0 0 37px;
  }

  .product-card--no-pic {
    display: block;
    padding: 25px 38px 28px;
    background-color: #ffffff;

    & .product-card__name {
      display: block;
      width: auto;
      font-size: 20px;
      line-height: 20px;
      margin: 0 0 25px;
      float: left;
    }

    & .product-card__parameters-list {
      display: block;
      margin: 0 0 25px;
      float: right;
    }

    & .product-card__parameters-item {
      border: none;
      padding: 0;
      font-size: 16px;
      line-height: 20px;
    }

    & .product-card__parameter-name {
      margin: 0 49px 0 0;
    }

    & .product-card__order {
      margin: 0;
    }
  }
}
