.product-card {
  border-bottom: 1px solid #ebebeb;
}

.product-card__container {
  display: grid;
  grid-template-areas: "image  name"
    "image parameters"
    "btn btn";
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 0;
  max-width: $mobile-max-width;
  margin: 0 auto;
  padding: 19px $mobile-space 25px;
}

.product-card__image-wrapper {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 3px;
}

.product-card__name {
  grid-area: name;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #222222;
  width: 60%;
}

.product-card__parameters-list {
  grid-area: parameters;
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-bottom: 6px;
}

.product-card__parameters-item {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  //flex-wrap: no-wrap;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.product-card__parameter-name {
  //margin: 0 15px 0 0;
  width: 40%;
  text-align: left;
}

.product-card__parameter-value {
  //margin: 0 0 0 15px;
  width: 40%;
  text-align: right;
}

.product-card__order {
  grid-area: btn;
}


@media (min-width: $tablet-width) {
  .product-card {
    border: none;
    overflow: visible;
    //width: 324px;
  }

  .product-card__container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #f2f2f2;
    text-align: center;
    gap: 0;
    position: relative;
    overflow: visible;
    padding: 161px 38px 0;
    max-width: none;
  }

  .product-card__image-wrapper {
    align-self: center;
    position: absolute;
    top: -127px;
    bottom: calc(100% - 134px);
  }

  .product-card__name {
    font-size: 20px;
    line-height: 24px;
    width: 55%;
    margin: 0 auto 21px;
  }

  .product-card__parameters-item {
    font-size: 16px;
    line-height: 16px;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__parameters-item:not(:first-of-type) {
    padding-top: 7px;
  }

  .product-card__parameters-list {
    margin: 0 0 33px;
  }

  .product-card__order {
    width: 100%;
    margin: 0 0 37px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__container {
    padding: 161px 38px 0 38px;
  }

  .product-card__image-wrapper {
    margin-bottom: 8px;
  }

  .product-card__name {
    width: 80%;
    line-height: 22px;
    margin: 0 auto 24px;
    padding: 0 0 0 1px;
  }

  .product-card__parameters-list {
    margin: 0 0 35px;
  }

  .product-card__order {
    margin: 0 0 38px;
  }
}
