.promo__wrapper-bg {
  background: linear-gradient(to top, #ffffff 138px, rgba(104, 183, 56, 0.85) 138px), url("../../img/index-promo-background.jpg");
  background-repeat: no-repeat;
  background-position: left 0 top 0, center bottom 138px;
  background-size: cover, 320px 302px;
  min-height: 302px;
  overflow: hidden;
}

.promo__wrapper-bg::after {
  content: url("../../img/index-can-mobile1.png");
  width: 280px;
  height: 270px;
  display: block;
  margin: 29px auto 3px;
}

.promo {
  color: #ffffff;
  text-align: center;
  min-width: 302px;
}

.promo__title {
  margin-top: 27px;
}

.promo__slogan {
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}

.promo__button {
  min-width: 280px;
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
}

.promo__wrapper-button {
  margin: 0 20px;
}
