.radio__label {
  position: relative;
  padding-left: 45px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 27px;
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
  cursor: pointer;
  min-height: 30px;
  display: inline-block;
  vertical-align: top;

  &:hover {
    &::before {
      border-color: #bababa;
    }
  }
}

.radio__label::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.radio__label::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: none;
  position: absolute;
  left: 8px;
  top: 7px;
  background: #68b738;
  box-sizing: border-box;
}

.radio__input:checked + .radio__label::after {
  display: block;
}

.radio__input:disabled + .radio__label {
  opacity: 0.3;
  cursor: default;
}

.radio__input:disabled + .radio__label:hover::before {
  border-color: #cdcdcd;
}

.radio__input:focus + .radio__label::before {
  border-color: #68B738;
}

@media (min-width: $tablet-width) {
  .radio__label {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }

  .radio__label::before {
    width: 40px;
    height: 40px;
    top: -5px;
  }

  .radio__label::after {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 6px;
  }
}
