.secondary-title {
  display: flex;
}

.secondary-title__name {
  display: inline;
  font-family: "oswald-400", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  background-color: #ffffff;
  margin: 0;
  line-height: 27px;
  margin-top: 2px;
}
