$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-space: 20px;
$tablet-space: 30px;
$desktop-space: 110px;

$mobile-max-width: 550px;
$tablet-max-width: 1000px;
$desktop-max-width: 1800px;
