// Начните писать стили здесь
@import "blocks/visually-hidden.scss";
@import "global/variables.scss";
@import "blocks/page.scss";
@import "blocks/main-header.scss";
@import "blocks/title.scss";
@import "blocks/main-footer.scss";
@import "blocks/main-navigation.scss";
@import "blocks/logo-name.scss";
@import "blocks/promo.scss";
@import "blocks/advantage.scss";
@import "blocks/advantages.scss";
@import "blocks/button.scss";
@import "blocks/example.scss";
@import "blocks/example-parameter.scss";
@import "blocks/instruction.scss";
@import "blocks/catalog.scss";
@import "blocks/location.scss";
@import "blocks/product-card.scss";
@import "blocks/additional-products.scss";
@import "blocks/offer.scss";
@import "blocks/radio.scss";
@import "blocks/cat-aim.scss";
@import "blocks/aim-list.scss";
@import "blocks/cat-form.scss";
@import "blocks/cat-list.scss";
@import "blocks/input-form.scss";
@import "blocks/content-header.scss";
@import "blocks/owner-form.scss";
@import "blocks/owner-list.scss";
@import "blocks/comment-form.scss";
@import "blocks/textarea-form.scss";
@import "blocks/additional-form.scss";
@import "blocks/additional-list.scss";
@import "blocks/check-form.scss";
@import "blocks/submit.scss";
@import "blocks/main-form.scss";
@import "blocks/cat-change.scss";
@import "blocks/page-body.scss";
@import "blocks/main-content.scss";
@import "blocks/main-catalog.scss";
@import "blocks/logo-image.scss";
@import "blocks/product-card-last.scss";
@import "blocks/slider.scss";
@import "blocks/main-title.scss";
@import "blocks/product-card-no-pic.scss";
